<div class="form_page">
    <form method="POST">
        <div>
            <h2>Авторизация</h2>
            <div>
                <input required type="text" name="name" placeholder="Имя профиля / Электронная почта">
                <input required type="password" name="password" placeholder="Пароль">
                <input type="submit" value="Авторизоваться">
            </div>
        </div>
    </form>
    <div>
        <a href="reg">Регистрация</a>
        <a href="recovery">Восстановление пароля</a>
    </div>
</div>